<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vue.mapper.NoticeMapper">
	<select id="list"  resultType="Notice">
		SELECT id, 
			title,
			content, 
			userId,
			fileName,
			createdAt,
			updatedAt,
			expireDate,
			enabled
		FROM TB_NOTICE

	</select>
	
	<select id="getId" resultType="Notice">
		SELECT id, 
			title,
			content, 
			userId,
			fileName,
			createdAt,
			updatedAt,
			expireDate,
			enabled
		FROM TB_NOTICE
		where id = #{id}
	</select>

	<insert id="insert" >
		INSERT INTO tb_notice
			(title, content, userId, fileName,expireDate)
		VALUES
			(#{title}, #{content}, #{userId}, #{fileName} ,#{expireDate})
	</insert>

	<update id="update">
		UPDATE tb_notice
		SET
			title=#{title},
			content=#{content},
			fileName=#{fileName},
			expireDate = #{expireDate}
			updatedAt=NOW(),
			enabled=#{enabled}
		WHERE id=#{id}
	</update>
	
	<update id="delete">
		UPDATE tb_notice
		SET
			updatedAt=NOW(),
			enabled=0
		WHERE id=#{id}
	</update>
</mapper>
